.menu-btn {
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  top: 3.5rem;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 2.8rem;
    height: 3px;
    margin: 0 0 .5rem 0;
    background: #fff;
    @include easeOut;
  }


  // rotate into x
  &.close {
    transform: rotate(180deg);

    .btn-line {

      &:nth-child(1) {
        transform: rotate(45deg) translate(.5rem, .5rem);
      }

      &:nth-child(2) {
        // hide second line
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(.7rem, -.6rem);
      }
    }
  }
}

// menu overlay
.menu {
  position: fixed;
  top:0;
  width: 100%;
  opacity: .8;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding 
  ,&-nav {
    display: flex;
    flex-flow:column wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin:0;
    padding: 0;
    background: darken($color-primary, 15);
    list-style: none;
    transform: translate3d(0,-100%,0);
    @include easeOut;

    &.show {
      // slide in from top
      transform: translate3d(0,0,0);
    }
  }
  &-branding {
    background: $color-primary;
    transform: translate3d(0,100%,0);
    @include easeOut;

    &.show {
      // slide in from top
      transform: translate3d(0,0,0);
    }

  }
  .portrait {
    width: 25rem;
    height: 25rem;
    background: url('../img/portrait.jpg');
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  .nav-item {
    transform: translate3d(60rem,0,0);
    @include easeOut;
  
    &.current > a {
      color: $secondary-color;
    }
    &.show {
      transform: translate3d(0,0,0);
      
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}